.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.card-conteudo{
    display: flex;
}
.projeto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projeto h1{
    margin-top: 10px;
}
.projeto img {
    width: 300px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
   
}
.card-projeto{
    transition: 0.6s;
    filter: drop-shadow(0px 0px 5px grey);
}

.card-projeto:hover{
    transform: scale(1.05);
}

.card-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #010634;
    border-radius: 20px;
    padding: 0 0 2px;
}

.botao {
    display: flex; 
    gap: 50px; 
}
.botao button{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
}

.botao button:hover{
    filter: drop-shadow(0px 0px 9px #61DAFB);
}
