.menu {
    margin: 5% 8%;
    font-size: 24px;
}

.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    transition: 0.3s;
    color: #61DAFB;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: white;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: #61DAFB;
    transition: width 0.5s ease-in-out;
}

.menu a:hover::after {
    width: 100%;
}

.menu a.active::after {
    width: 100%;
}


.imagem3 img {
    position: fixed;
    object-fit: cover;
    width:200px;
    height: 170px;
    top: -30px;
    right: 300px;
    opacity: 0.2;
}


.imagem4 img {
    position: fixed;
    object-fit: cover;
    width:200px;
    height: 170px;
    bottom: -20px;
    right: 300px;
    opacity: 0.2;
}
