.sobre {
    width: 90%;
    height: 100%;
}

.sobre p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
}

.sobre h1,
h3,
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobre h1{
    font-size: 25px;
}
strong{
    font-size: 20px;
    color: #61DAFB;
}
.sobre
h2 {
    font-size: 45px;
}

.foto img {
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 0 100px 0 100px;
    animation: fotoMove 6s ease-in-out infinite;
    margin-top: -30px;
}

.container-foto {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fotoMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width:991px) {

    .container-foto {
        margin-left: 0;
    }

    .foto img {
        margin-top: 30px;
    }

    .centro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}